.descriptionContainer {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-right: 130px;

}

.dotes {
    width: 400px;
    height: 200px;
    position: absolute;
    left: 1164px;   
    top: 180px;
    border: 6px #55D8F4 dotted;
}
