.coreValuesWrap {
    width: 264px;
}

.advantages {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.coreValuesTitle {
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
    color: #26AAD5;
    letter-spacing: -2%;
}